<footer class="bg-dark text-light text-center py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="mt-3 mb-3">Contact Information</h5>
        <p><strong>Email:</strong> nguyendinhvutqt@gmail.com</p>
        <p><strong>Phone:</strong> 0349572017</p>
        <p><strong>Address:</strong> xxxxx</p>
      </div>
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3916.7725940421706!2d106.67290467383557!3d10.980529955398243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1692789428947!5m2!1svi!2s"
          width="600"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</footer>
