<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/admin/head') -%>
    <title>Trang chủ</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../partials/admin/sidebar') -%>

        <div class="main">
            <%- include('../partials/admin/navbar') -%>

            <main class="content">
                CHÀO MỪNG BẠN ĐẾN TRANG QUẢN TRỊ
            </main>
        </div>
    </div>

    <%- include('../partials/admin/js') -%>
</body>
</html>