<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/user/head') -%>
    <title>Thành công</title>
  </head>
  <body>
    <%- include('../partials/user/header') -%>
    <div class="d-flex align-items-center flex-column mt-4">
      <h1>Đặt hàng thành công!</h1>
      <div class="mt-4">
        <a href="/" class="btn text-white">Tiếp tục mua sắm</a>
      </div>
    </div>
    <%- include('../partials/user/footer') -%> <%-
    include('../partials/user/js') -%>
  </body>
</html>
