<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="~/Admin/HomeAdmin/Index">
            <!-- @if (Session["UserName"] != null)
            {
                <span class="align-middle">@Session["UserName"]</span>
            } -->
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item active">
                <a class="sidebar-link" href="/admin/home">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>


            <li class="sidebar-header">
                QUẢN LÝ SẢN PHẨM
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/category">
                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">DANH MỤC</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/product">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">SẢM PHẨM</span>
                </a>
            </li>

            <li class="sidebar-header">
                QUẢN LÝ ĐƠN HÀNG
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/orders">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">ĐƠN ĐẶT HÀNG</span>
                </a>
            </li>

            <li class="sidebar-header">
                QUẢN LÝ NGƯỜI DÙNG
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/users">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">NGƯỜI DÙNG</span>
                </a>
            </li>

            <li class="sidebar-header">
                ĐĂNG XUẤT TÀI KHOẢN
            </li>
<!-- 
            <li class="sidebar-item">
    <a class="sidebar-link" href="pages-sign-in.html">
        <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
    </a>
</li> -->

            <li class="sidebar-item">
                <a class="sidebar-link" href="/user/logout">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">ĐĂNG XUẤT</span>
                </a>
            </li>

            <!-- <li class="sidebar-item">
    <a class="sidebar-link" href="pages-blank.html">
        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="icons-feather.html">
        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
    </a>
</li>

<li class="sidebar-header">
    Plugins & Addons
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="charts-chartjs.html">
        <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="maps-google.html">
        <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
    </a>
</li> -->
        </ul>

    </div>
</nav>